background-preview {
  border-radius: 6px;
}

background-preview .window {
  border-radius: 6px;
  box-shadow: 0 1px 4px 1px alpha(black, 0.13),
              0 1px 10px 5px alpha(black, 0.09),
              0 3px 16px 8px alpha(black, 0.04),
              0 0 0 1px alpha(black, .05);
}

background-preview .window .header-bar {
  min-height: 15px;
}

background-preview .window.light {
  background-color: #fafafa;
  color: alpha(black, .8);
}

background-preview .window.light .header-bar {
  box-shadow: inset 0 -1px alpha(black, .07);
}

background-preview .window.front.light .header-bar {
  background-color: #ebebeb;
}

background-preview .window.dark {
  background-color: #242424;
  color: white;
}

background-preview .window.dark .header-bar {
  box-shadow: inset 0 -1px alpha(black, .36);
}

background-preview .window.front.dark .header-bar {
  background-color: #303030;
}

.background-preview-button {
  background: none;
  border-radius: 9px;
  padding: 3px;
  box-shadow: none;
  outline: none;
}

.background-preview-button:checked {
  box-shadow: 0 0 0 3px @accent_color;
}

.background-preview-button:focus:focus-visible {
  box-shadow: 0 0 0 3px alpha(@accent_color, .3);
}

.background-preview-button:checked:focus:focus-visible {
  box-shadow: 0 0 0 3px @accent_color, 0 0 0 6px alpha(@accent_color, .3);
}

.background-flowbox > flowboxchild {
  background: none;
  border-radius: 9px;
}

.background-thumbnail {
  border-radius: 6px;
}

.slideshow-icon {
  color: white;
  -gtk-icon-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  margin: 8px;
}

.selected-check {
  color: @accent_fg_color;
  background: @accent_bg_color;
  border-radius: 100px;
  padding: 2px;
  opacity: 0;
  margin: 6px;
}

flowboxchild:selected .selected-check {
  opacity: 1;
}

.remove-button {
  padding: 2px;
  min-width: 0;
  min-height: 0;
  margin: 6px;
}

.appearance-thumbnail {
  border-radius: 6px;
}

.recolor-assets-rounded { background: @accent_color; border-radius: 7px; }

.recolor-assets { background: @accent_color;}

.ubuntu-colors {
  border-radius: 9999px;
  min-width: 20px;
  min-height: 20px;
  padding: 2px;
  background: none;
  box-shadow: none;
  outline: none;
}

.ubuntu-colors:selected {
  border: 2px solid mix(@view_bg_color, @card_bg_color, 0.25);
  box-shadow: 0 0 0 2px alpha(@accent_color, 0.75);
}

.ubuntu-colors.default {
  background: shade(#e95420, 1.1);
}

.ubuntu-colors.bark {
  background: shade(#787859, 1.1);
}

.ubuntu-colors.blue {
  background: shade(#0073E5, 1.1);
}

.ubuntu-colors.magenta {
  background: shade(#B34CB3, 1.1);
}

.ubuntu-colors.olive {
  background: shade(#4B8501, 1.1);
}

.ubuntu-colors.prussiangreen {
  background: shade(#308280, 1.1);
}

.ubuntu-colors.purple {
  background: shade(#7764D8, 1.1);
}

.ubuntu-colors.red {
  background: shade(#DA3450, 1.1);
}

.ubuntu-colors.sage {
  background: shade(#657B69, 1.1);
}

.ubuntu-colors.viridian {
  background: shade(#03875B, 1.1);
}